*{
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header p{
   color: white;
   text-align: center;
   font-size: 22px;
   margin-top: 30px;
   text-shadow: 4px 2px 1px grey; 
}

p::after {
    content: '';
    opacity: 1;
    margin-left: 5px;
    display: flex;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}

.logo{
    max-width: 250px;
    margin-bottom: 24px;
}

.container-input{
    max-width: 480px;
    margin: 14px 0; 
}

.container-input span{
   color: rgb(236, 229, 210);
   font-size: 20.5px; 
   text-shadow: 4px 2px 1px grey;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: #f9f9f911;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta{
   height: 40px;
   background-color: #ff0000;
   border: groove rgba(255, 255, 255, 0.521);
   box-shadow: 0.5px 0.5px 12px rgba(87, 86, 86, 0.799);
   border-width: 3px;
   border-radius: 35px;
   cursor: pointer;
   margin-top: 40px;
   color: #ffffff;
   font-weight: bold;
   font-size: 22px;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.985);
   text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.815);
   transition: 1.5s;
}

.button-cta:hover{
    transform: scale(1.05);
}

.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    color: rgb(236, 229, 210);
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 25px;
    text-shadow: 4px 2px 1px grey;
}

.password{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.793);
    text-shadow: 3px 1px 2px grey;
    border-radius: 35px;
    width: 100%;
    border: groove;
    border-width: 6px;
    border-color: rgba(255, 255, 255, 0.547);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 72);
    font-size: 18px;
    transition: 1.2s;
}

.password:hover{
    transform: scale(1.05);
}

.tooltip{
    color: white;
    position: relative;
    top: 20px;
    padding: 4px 5px;
    width: 100%;
    background: rgb(46, 46, 46);
    text-align: center;
    font-size: 16.2px;
    border: groove;
    border-width: 2px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    text-shadow: 2px 1px 2px grey;
}

.hide{
   display: none; 
}

.container-password:hover .tooltip{
   visibility: visible;
   bottom: 50px;
   opacity: 1; 
}